WSDLProject/EmployeeProfile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	name="EmployeeProfileService"
	targetNamespace="http://msjavasolutions.com/employeeProfile" 
	xmlns:tns="http://msjavasolutions.com/employeeProfile"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:upSchema="http://msjavasolutions.com/employeeProfile/schema/EmployeeProfile.xsd">

	<wsdl:types>
		<xsd:schema targetNamespace="http://msjavasolutions.com/employeeProfile"
			elementFormDefault="qualified">
			<xsd:import
				namespace="http://msjavasolutions.com/employeeProfile/schema/EmployeeProfile.xsd"
				schemaLocation="EmployeeProfile.xsd" />
			<xsd:element name="GetEmployeeProfile">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="employeeName" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetEmployeeProfileResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="EmployeeProfile" type="upSchema:EmployeeProfile" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="GetEmployeeProfileRequest">
		<wsdl:part name="params" element="tns:GetEmployeeProfile" />
	</wsdl:message>
	<wsdl:message name="GetEmployeeProfileResponse">
		<wsdl:part name="result" element="tns:GetEmployeeProfileResponse" />
	</wsdl:message>

	<wsdl:portType name="EmployeeProfilePortType">
		<wsdl:operation name="GetEmployeeProfile">
			<wsdl:input message="tns:GetEmployeeProfileRequest" />
			<wsdl:output message="tns:GetEmployeeProfileResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="EmployeeProfileBinding" type="tns:EmployeeProfilePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetEmployeeProfile">
			<soap:operation soapAction="urn:GetEmployeeProfile" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="EmployeeProfileService">
		<wsdl:port binding="tns:EmployeeProfileBinding" name="EmployeeProfilePort">
			<soap:address location="http://localhost/services/EmployeeProfileService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
